@import "../../app.scss";
@import url('https://fonts.googleapis.com/css2?family=Teachers:ital,wght@0,400..800;1,400..800&display=swap');

.parallax {
  width: 100vw;
  height: 120vh;
  position: relative;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  background: linear-gradient(180deg, #011825, #0C0C1D);

  @include mobile {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .description {
    z-index: 10;
    position: absolute;
    top: 35%;
    left: 10%;
    text-align: left;

    @include mobile {
      position: relative;
      top: auto;
      left: auto;
      text-align: center;
      width: 100%;
      padding: 20px;
      margin-top: 20px;
    }

    h1 {
      font-size: 30px;
      z-index: 10;
      color: #F1C6A9;
      font-family: "Teachers", sans-serif;
      font-optical-sizing: auto;
      font-weight: 800;
      font-style: normal;

      @include mobile {
        font-size: 40px;
      }
    }
  }

  .spaceman {
    height: 100%;
    width: 50%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 5;

    @include mobile {
      position: relative;
      width: 100%;
      height: 50%;
      order: -1;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;
      background-image: url("/stars.png");

    }
  }

  .mountains,
  .mountains2,
  .planets,
  .stars {
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 100%;
    position: absolute;

    @include mobile {
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  .mountains {
    z-index: 4;
  }

  .mountains2 {
    z-index: 2;
    background-image: url("/crater.svg");
  }

  .planets {
    z-index: 2;
  }

  .stars {
    z-index: 1;
    height: 100%;
    background-image: url("/stars.png");
  }
}
