@import "../../app.scss";
.social-media-tray {
    z-index: 99;
    position: fixed;
    top: 100px;
    right: 0; 
    display: flex;
    flex-direction: column;
    align-items: center;
    
    padding: 10px; 
    background-color: transparent; 
    border-radius: 5px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  }
  
  .social-icon {
    font-size: 25px; /* Adjust icon size */
    color: #4BC5C0; /* Icon color */
    transition: color 0.3s ease; /* Smooth color transition on hover */
    margin-bottom: 10px; /* Space between icons */
  }
  
  .social-icon:hover {
    color: #00776A; /* Change color on hover */
  }
  

  
  
  
  .social-media-tray a,
  .social-media-tray button {
    text-decoration: none; /* Remove underline from links */
  }
  
  