@import "../../app.scss";

.experience-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .experience-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  
  .experience-icon {
    width: 60%;
    height: 60%;
    object-fit: contain;
  }
  
  .experience-title {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
  }
  
  .experience-company {
    color: #888;
    font-size: 16px;
    font-weight: 600;
  }
  
  .experience-points {
    margin-top: 20px;
    list-style-type: disc;
    margin-left: 20px;
  
    li {
      color: #bbb;
      font-size: 14px;
      padding-left: 4px;
      letter-spacing: wider;
    }
  }
  
  /* Additional styles */
  .section-sub-text {
    /* Add your styles for sectionSubText */
  }
  
  .section-head-text {
    /* Add your styles for sectionHeadText */
  }
  
  .text-center {
    text-align: center;
  }
  