/* global.scss */

html {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    overflow-x: hidden;
    user-select: none;
    -webkit-user-select: none; 
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
  }
  
  
  *::-webkit-scrollbar-track {
    background: #f4f4f4; /* Background color of the scrollbar track */
    border-radius: 100px; /* Rounded corners on the track */
    margin: 10px 0; /* Remove the scrollbar buttons by adding margin */
  }
  
  *::-webkit-scrollbar-thumb {
    // background-color: #888; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Roundness of the scrollbar thumb */
    border: 3px solid #f4f4f4;
    background-color:black;
     /* Padding around the thumb to create a gap */
  }
  
  *::-webkit-scrollbar-thumb:hover {
    background: black; /* Color of the scrollbar thumb on hover */
  }
  
  /* Remove the top and bottom arrows */
  *::-webkit-scrollbar-button {
    display: none; /* Hide scrollbar buttons */
  }
  
  /* Scrollbar styles for Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #EF973F #011724;
    
  }
  
  /* Firefox scrollbar track */
  *::-moz-scrollbar-track {
    border-radius: 10px;
    background: #f4f4f4;
    margin: 10px 0; /* Remove the scrollbar buttons by adding margin */
  }
  
  /* Firefox scrollbar thumb */
  *::-moz-scrollbar-thumb {
    background-color:black;
    border-radius: 10px;
    border: 3px solid #f4f4f4;

  }
  
  *::-moz-scrollbar-thumb:hover {
    background: #555;
  }
  
  /* Scrollbar styles for Internet Explorer and Edge */
  body {
    -ms-overflow-style: none; /* Hide default scrollbar */
  }
  
  body::-webkit-scrollbar {
    display: none; /* Hide default scrollbar */
  }
  
  ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #081121;
    color: lightgray;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  .nav {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99;
  }
  
  section {
    height: 100vh;
    width: 100vw;
    scroll-snap-align: center;
    overflow: hidden;
  }
  
  .experience {
    height: fit-content;
    width: 100vw;
    scroll-snap-align: center;
    overflow: hidden;
  }
  
  
  @mixin mobile {
    @media (max-width: 738px) {
      @content;
    }
  }
  
  @mixin tablet {
    @media (max-width: 1024px) {
      @content;
    }
  }
  
  @mixin desktop {
    @media (max-width: 1366px) {
      @content;
    }
  }
  